@font-face {
  font-family: "SF Pro";
  src: url("./assets/fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95dvh;
}

.row {
  display: flex;
}

.header {
  font-size: x-large;
  margin-bottom: 10px;
  font-weight: 100;
  letter-spacing: 3px;
}

.add-task {
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
}

.input {
  width: 300px;
  height: 15px;
  padding: 10px;
  border-radius: 4px;
  font-size: medium;
  color: #757575;
  font-style: italic;
}

.input:focus {
  border: 2px solid #7a44e7;
  outline: none;
}

.button {
  font-size: larger;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
}

.button-blue {
  background-color: cornflowerblue;
}

.button-small-blue {
  width: 20px;
  height: 20px;
  background-color: cornflowerblue;
}

.button-small-red {
  background-color: crimson;
  width: 20px;
  height: 20px;
}

.button-small-green {
  background-color: green;
  width: 20px;
  height: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #757575;
  padding: 8px 15px;
  margin-top: 5px;
  align-items: center;
  width: 400px;
  height: 30px;
}

.task-name {
  color: #757575;
  font-size: large;
}